<div id="page_wrapper">

  <div id="content">
    <h1>Welcome to PhotoApp</h1>
    <p>This app is the newest best photo app on the web
    its bee totally built on ruby on on rails.</p>

  </div>
</div>
